.nav-wrapper{
    background-color: blueviolet;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 350px;
}
.card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.card-title{
    text-align: top;
}
.card .card-image .card-title{
    color: red;
    font-weight: 600;
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #6eacee;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 120px;
    text-align: end;
}
.item-desc{
    align-self:bottom;
}